// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


// COLORS
$primary-color:#ff4d4d;
$secundery-color:#4d4dff;
$header-gradient: linear-gradient(to right, #ff0000, #800080); 

// color ul header 
$color-links: gray;