@use '../../theme/variables' as *;
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--ion-color-medium);
}

.details-container {
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
  margin-top: 4%;
}

.pokemon-image-col,
.pokemon-details-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.pokemon-image-card {
  width: 100%;
  max-width: 100%;
  height: auto;
  box-shadow: var(--ion-box-shadow);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  
  align-items: center;
  background: var(--ion-color-light);

  .pokemon-detail-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
  }
  
}
.btn_home{
  background-color: $secundery-color;
  position: absolute;
  height: 7vh;
  width: 80%;
  bottom: 0;
  color:$white-text-button;
  transition: all 0.5s;
  border-radius: 5px;

}
.btn_home:hover{
  background-color: $color-links;
}
.pokemon-details-card {
  width: 100%;
  height: 90svh;
  box-shadow: var(--ion-box-shadow);
  border-radius: 12px;
  background: var(--ion-color-light);
  overflow-y: auto;

  ion-card-content {
    padding: 20px;

    .pokemon-name-detail {
      font-size: 2.2em;
      font-weight: bold;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 20px;
      color: var(--ion-color-primary);
    }

    ion-list {
      background: transparent;
      padding: 0;
    }

    ion-item {
      --background: transparent;
      padding-top: 8px;
      padding-bottom: 8px;

      ion-label {
        white-space: normal;

        p {
          margin: 0;
          font-size: 1em;
          color: var(--ion-color-medium);

          strong {
            color: var(--ion-color-dark);
          }
        }

        h3 {
          margin-top: 15px;
          margin-bottom: 5px;
          color: var(--ion-color-dark);
          font-size: 1.1em;
        }
      }
    }

    .pokemon-description-text {
      font-style: italic;
      color: var(--ion-color-medium-shade);
    }
  }
}

.no-data-message {
  text-align: center;
  padding: 20px;
  color: var(--ion-color-medium);
}


/* --- Media Query --- */

@media (max-width: 480px) {
  .details-container {
    padding: 0.5rem;
    margin-top: 15%;
  }

  .pokemon-image-col,
  .pokemon-details-col {
    padding: 5px;
  }

  .pokemon-image-card {
    border-radius: 8px;
    flex-direction: column; /* Organiza a imagem e o botão em coluna */
    .pokemon-detail-image {
      padding: 5px;
    }
    .btn_home { /* Aplica estilos ao botão DENTRO do pokemon-image-card */
      position: relative; /* Remove o posicionamento absoluto para fluir com o conteúdo */
      bottom: auto;
      left: auto;
      transform: none;
      width: 95%; /* Ajuste a largura conforme necessário */
      margin-top: 10px; /* Espaçamento entre a imagem e o botão */
      margin-bottom: 10px; /* Espaçamento abaixo do botão */
      height: 5vh;
    }
  }

  .pokemon-details-card {
    height: auto;
    min-height: 50vh;
    max-height: 80vh;
    ion-card-content {
      padding: 15px;

      .pokemon-name-detail {
        font-size: 1.8em;
        margin-bottom: 15px;
      }

      ion-item {
        padding-top: 5px;
        padding-bottom: 5px;
        ion-label {
          p {
            font-size: 0.9em;
          }
          h3 {
            font-size: 1em;
            margin-top: 10px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .details-container {
    padding: 0.5rem;
    margin-top: 15%;
  }

  .pokemon-image-col,
  .pokemon-details-col {
    padding: 5px;
  }

  .pokemon-image-card {
    border-radius: 8px;
    flex-direction: column; /* Organiza a imagem e o botão em coluna */
    .pokemon-detail-image {
      padding: 5px;
    }
    .btn_home { /* Aplica estilos ao botão DENTRO do pokemon-image-card */
      position: relative; /* Remove o posicionamento absoluto para fluir com o conteúdo */
      bottom: auto;
      left: auto;
      transform: none;
      width: 95%; /* Ajuste a largura conforme necessário */
      margin-top: 10px; /* Espaçamento entre a imagem e o botão */
      margin-bottom: 10px; /* Espaçamento abaixo do botão */
      height: 5vh;
    }
  }

  .pokemon-details-card {
    height: auto;
    min-height: 50vh;
    max-height: 80vh;
    ion-card-content {
      padding: 15px;

      .pokemon-name-detail {
        font-size: 1.8em;
        margin-bottom: 15px;
      }

      ion-item {
        padding-top: 5px;
        padding-bottom: 5px;
        ion-label {
          p {
            font-size: 0.9em;
          }
          h3 {
            font-size: 1em;
            margin-top: 10px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}